<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/approval.css">
</head>
<body>
{{>header/header}}
<div id="fullscreen">
    <div id="screen1">
        <div id="screen1-1">
            <h2 id="h2_title">출장신청서</h2>
        </div>
        <div id="screen1-2">
            <form action="/vacation/add" method="POST" id="vacation_form">
                <table>
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="hidden" name="user" value="{{user.NO}}">
                    <input type="hidden" name="Accessva" value="미승인">
                    <input type="hidden" name="CLASSIFY" value="출장">
                    <tr>
                        <th>부서</th>
                        <td id="dept_td"><input type="text" name="DEPT" readOnly value="{{user.DEPT}}"></td>
                        <th>이름</th>
                        <td><input type="text" name="DEPT" readOnly value="{{user.NAME}}"></td>
                    </tr>
                    <tr>
                        <th>사번</th>
                        <td><input type="text" name="DEPT" readOnly value="{{user.CNO}}"></td>
                        <th id="meeting_td">출장</th>
                        <td><input type="text" name="TITLE" value="{{user.NAME}} 출장" readOnly></td>
                    </tr>
                    <tr>
                        <th>출장 출발 날짜</th>
                        <td id="vacation_date_td"><input type="date" id="start" name="start" required/></td>
                        <th>출장 복귀 날짜</th>
                        <td><input type="date" id="end" name="end" required/></td>
                    </tr>
                    <tr>
                        <th>출장 내용</th>
                        <td colspan="3"><textarea id="reason" name="DESCRIPTION" required></textarea></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="submit_approval">
            <input type="submit" value="제출" id="submit_approval_btn">
        </div>
    </div>
</div>
<script src="js/vacation.js"></script>
</body>
</html>