body{
    width: 100vw;
    background-color: snow;
    margin: 0;
    padding: 0;
    font-size: 0;
   overflow-x: hidden;
}
#header_header{
    width: 100%;
    height: 60px;
    position: fixed;
    background: linear-gradient(#1c1c1c 1%,#2c2c2c 30%);
    z-index: 2;
    border: 0px solid black;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    font-family: 'Gowun Dodum', sans-serif;
}
#nav_header{
    width: 70%;
    height: 100%;
}
#ul_header{
    width: 100%;
    height: 100%;
    display: flex;
}
#logo_li{
    font-size: 25px;
    text-decoration: none;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_text{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menu_li{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}


#login_sigin_li{
    font-size: 15px;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    color: lightgray;
}
#login_signin_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#name_text{
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
}
#logout_text{
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    color: lightgray;
}
#logout_text:focus {
    outline: none;
}
#login_text{
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
}
#sginin_text{
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
    margin-left: 20px;
    margin-right: 5px;
}

.submenu {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color:rgb(220,220,220,0.7);
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    transform: scaleY(0); /* scaleX -> scaleY 변경 */
    transform-origin: top center; /* transform-origin 값 변경 */
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}
.approval_menu{
    height: 100%;
    display: block;
    justify-content: center;
    margin-left: 10px;
}
#bar{
    width: 100%;
    height: 10%;
    background-color: cornflowerblue;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}
#menu_apv{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.approval_menu:hover .submenu {
    display: flex;
    transform: scaleY(1);
}
.approval_menu:hover #bar{
    display: block;
    transform: scaleX(1);
}
.approval_menu:hover .menu_text_apv{
    color: cornflowerblue;
}
.menu_text_apv{
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    color: lightgray;
    height: 90%;
    display: flex;
    align-items: center;
}
.menu_text{
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    color: #2c2c2c;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.menu_text:hover{
    color: cornflowerblue;
}