#fullscreen{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#screen1{
    width: 40%;
    height: 100%;
}
#screen1-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
#screen1-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
#screen1-1-1{
    width: 50%;
    height: 69%;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
#screen1-1-1-1{
    width: 100%;
    height: 94%;
}
#screen1-1-1-2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#screen1-1-1-2 a{
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
#screen1-1-1-3{
    margin-top: 5px;
    width: 100%;
    height: 78%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#screen1-1-1-4{
    margin: 10px auto;
    width: 93%;
    height: 43%;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen1-1-1-4-1{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen1-1-1-4-1 a{
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;

}
#screen1-1-1-4-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
#on{
    width: 60px;
    height: 60px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
#off{
    width: 60px;
    height: 60px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
#screen1-1-1-5{
    margin: auto;
    width: 93%;
    height: 43%;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screen1-2-1{
    width: 50%;
    height: 69%;
    margin-right: 5px;
    margin-top: 5px;
    background-color: lightgray;
}
#screen2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
#screen2-1{
    width: 70%;
    height: 70%;
    margin-left: 5px;
}
#cal_btn_div{
    width: 100.2%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}
#circle_vacation{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #008000;
    margin-right: 5px;
}
#circle_meeting{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: orange;
    margin-right: 5px;
}#circle_business{
     border-radius: 100%;
     width: 10px;
     height: 10px;
     background-color: indianred;
     margin-right: 5px;
 }

#cal_div{
    background-color: white;
    width: 99.8%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-top-width: 0px;
}
#calendar{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1px;
    width: 98%;
    height: 98%;
    background-color: white;
}
.fc-day-sun a {
    color: indianred;
    text-decoration: none;
}
.fc-day-sun{
    background-color: floralwhite;
}
.fc-day-sat{
    background-color: floralwhite;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: dodgerblue;
    text-decoration: none;
}
.cal_btn{
    width: 25%;
    height: 70%;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    border: 1px solid lightgray;
    border-bottom-width: 0px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cal_btn:hover{
    color: #4c4c4c;
}
.cal_btn:focus{
    outline: none;
}
.fc-header-toolbar{
    font-size: 7px;
    font-family: 'Gowun Dodum', sans-serif;
}
.fc-header-toolbar .fc-prev-button,
.fc-header-toolbar .fc-next-button,
.fc-header-toolbar .fc-today-button {
    width: 40px;
    background-color: white;
    color: black;
    font-size: 7px;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-prev-button:hover,
.fc-header-toolbar .fc-next-button:hover,
.fc-header-toolbar .fc-today-button:hover{
    width: 40px;
    background-color: whitesmoke;
    color: black;
    font-size: 7px;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-prev-button:focus,
.fc-header-toolbar .fc-next-button:focus,
.fc-header-toolbar .fc-today-button:focus{
    border: 1px solid gray;
    outline: none;
    box-shadow: none;
}
.fc-header-toolbar .fc-prev-button:active,
.fc-header-toolbar .fc-next-button:active,
.fc-header-toolbar .fc-today-button:active {
    background-color: whitesmoke !important;
    box-shadow: none !important;
    color: black !important;
    border: 1px solid gray !important;
}
.fc-header-toolbar .fc-today-button:disabled{
    width: 40px;
    background-color: lightgray;
    color: gray;
    border: 1px solid gray;
}
.fc-header-toolbar .fc-today-button:disabled:active{
    width: 40px;
    background-color: lightgray !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.fc-scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.popup_layer {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.popup_box{
    border-radius: 5px;
    position: relative;
    top:50%;
    left:50%;
    overflow: auto;
    height: 300px;
    width:375px;
    z-index:1002;box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform:translate(-50%, -50%);
    animation: slideUp 0.2s ease-out 0.1s forwards;
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform:translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform:translate(-50%, -50%);
    }
}
.popup_cont {
    width: 90%;
    height: 94%;
    background-color: white;
}
#popup_vacationtype_div{
    background-color: white;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-size: 10px;
    font-family: 'Gowun Dodum', sans-serif;
    display: none;
}

#popup_title_div{
    width: 100%;
    height: 11%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#popup_title{
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
}
#popup_date_div{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#popup_date{
    font-size: 13px;
    font-family: 'Gowun Dodum', sans-serif;
}
#popup_desc_div{
    margin-top: 10px;
    width: 100%;
    height: 64%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-color: whitesmoke;
}
#popup_desc{
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
