<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
{{>header/header}}
<div id="fullscreen">
    <div id="screen1">
        <form method="post" action="/auth" id="login_form">
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
            <input type="text" name="CNO" placeholder="사번"/>
            <input type="password" name="PWD" placeholder="비밀번호"/>
            {{#error}}
                <p id="valid" class="alert alert-danger">{{exception}}</p>
            {{/error}}
            <div id="button_sign_cancle_div">
                <button type="submit" class="button_sign_cancle">로그인</button>
                <button type="button" class="button_sign_cancle" style="margin-left: 10px"
                        onclick="location.href='../..'">취소
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>