<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/siginin.css">
</head>
<body>
{{>header/header}}
<div id="fullscreen">
    <div id="screen1">
        <form method="post" action="/sginin_member" id="siginin_form">
            <div id="div_form">
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
            <select name="DEPT" id="DEPT">
                <option value="" selected>부서 선택</option>
                <option value="IT">IT</option>
                <option value="경영">경영</option>
                <option value="디자인">디자인</option>
                <option value="영업">인사</option>
            </select><br>
            <div id="error_dept" style="display: none;"></div>
            <input type="text" name="NAME" id="NAME" placeholder="이름"/>
            <div id="error_name" style="display: none;"></div>
            <input type="text" name="CNO" id="CNO" placeholder="사번"/>
            <div id="error_cno" style="display: none;"></div>
            <input type="password" name="PWD" id="PWD" placeholder="비밀번호"/>
            <div id="error_pwd" style="display: none;"></div>
            <input type="password" name="PWDCHECK" id="PWDCHECK" placeholder="비밀번호 확인"/>
            <div id="error_pwdchk" style="display: none;"></div>
            <input type="text" name="EMAIL" id="EMAIL" placeholder="이메일"/>
            <div id="error_email" style="display: none;"></div>
            <div id="button_sign_cancle_div">
                <button type="submit" class="button_sign_cancle"  id="submit" disabled="disabled">회원가입</button>
                <button type="button" class="button_sign_cancle" style="margin-left: 10px" onclick="location.href='../..'">취소</button>
            </div>
            </div>
        </form>

    </div>
</div>
</body>
<script src="js/signin.js"></script>
</html>