<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/siginin.css">
</head>
<body>
{{>header/header}}
<div id="fullscreen">
    <div id="screen1">
        <form action="#" method="POST" id="vacation_form">
            <input type="text" disabled="disabled" value="{{user.NAME}}">
            <br>
            <input type="text" disabled="disabled" value="{{user.DEPT}}">
            <br>

            <label for="leave_type">휴가 종류:</label>
            <select id="leave_type" name="leave_type">
                <option value="연차">연차</option>
                <option value="반차">반차</option>
                <option value="무급">무급</option>
                <option value="유급">유급</option>
                <option value="대체">대체</option>
            </select>
            <br>

            <label for="start_date">휴가 시작일:</label>
            <input type="date" id="start_date" name="start_date" required/>

            <label for="end_date">휴가 종료일:</label>
            <input type="date" id="end_date" name="end_date" required/>
            <br>

            <label for="reason">휴가 사유:</label>
            <textarea id="reason" name="reason" required></textarea>
            <br>

            <input type="submit" value="제출">
        </form>

    </div>
</div>
</body>
</html>